
<div class="window-header" style="-webkit-app-region: drag">
	<span class="title" style="-webkit-app-region: drag">TimeTrakr</span>
	<span class="exit pull-right" style="-webkit-app-region: no-drag" ng-click="closeWindow()">
		<i class="glyphicon glyphicon-remove"></i>
	</span>
	<span class="minimize pull-right" style="-webkit-app-region: no-drag" ng-click="minimizeWindow()">
		<i class="glyphicon glyphicon-minus"></i>
	</span>
</div>

<div class="create-task-container">
	<span id="create-task" class="pull-right btn btn-primary btn-lg" ng-click="newTask()">
		<i class="glyphicon glyphicon-play"></i>
	</span>
	<div class="input-wrapper">
		<input type="text" id="new-task" placeholder="Do..." />
	</div>
</div>

<div class="all-tasks-container">
	<div class="running-tasks-container">
		<div class="running-task" ng-repeat="task in RunningTasks" data-task-id="task.id">
			<span class="status" ng-click="toggleTaskStatus(task.id)">
				<i class="glyphicon" ng-class="{'glyphicon-pause':task.running, 'glyphicon-play':!task.running}"></i>
			</span>
			<span class="name" ng-bind-template="{{task.title}}"></span>
			<span class="time-elapsed pull-right" ng-bind-template="{{task.timeElapsed}}"></span>
			<span class="mark-as-done pull-right hidden" ng-click="markAsDone(task.id)">Done</span>
		</div>
	</div>
	<div class="container-title" ng-if="DoneTasks.length > 0">
		Done
	</div>
	<div class="done-tasks-container">
		<div class="done-task" ng-repeat="task in DoneTasks" data-task-id="task.id">
			<span class="strikethrough"></span>
			<span class="name" ng-bind-template="{{task.title}}"></span>
			<span class="time-elapsed pull-right" ng-bind-template="{{task.timeElapsed}}"></span>
			<span class="remove-task pull-right hidden" ng-click="removeTask(task.id)">
				<i class="glyphicon glyphicon-remove"></i>
			</span>
		</div>
	</div>
</div>