
<div class="window-header" style="-webkit-app-region: drag">
	<span class="title" style="-webkit-app-region: drag">TimeTrakr</span>
	<span class="header-btn exit pull-right" style="-webkit-app-region: no-drag" ng-click="closeWindow()">
		<i class="glyphicon glyphicon-remove"></i>
	</span>
	<span class="header-btn minimize pull-right" style="-webkit-app-region: no-drag" ng-click="minimizeWindow()">
		<i class="glyphicon glyphicon-minus"></i>
	</span>
	<span class="header-btn settings pull-right" style="-webkit-app-region: no-drag" ng-click="openSettings()">
		<i class="glyphicon glyphicon-cog"></i>
	</span>
</div>

<div class="create-task-container">
	<span id="create-task" class="pull-right btn btn-primary btn-lg" ng-click="newTask()">
		<i class="glyphicon glyphicon-play"></i>
	</span>
	<div class="input-wrapper">
		<input type="text" id="new-task" placeholder="Do..." />
	</div>
</div>

<div class="all-tasks-container">
	<div class="running-tasks-container">
		<div class="running-task" ng-repeat="task in RunningTasks" data-task-id="task.id">
			<span class="status" ng-click="toggleTaskStatus(task.id)">
				<i class="glyphicon" ng-class="{'glyphicon-pause':task.running, 'glyphicon-play':!task.running}"></i>
			</span>
			<span class="name" ng-bind-template="{{task.title}}"></span>
			<span class="seconds-elapsed pull-right" ng-if="!Settings.hideSeconds" ng-bind-template="{{':' + task.seconds}}"></span>
			<span class="time-elapsed pull-right" ng-bind-template="{{task.hours + ':' + task.minutes}}"></span>
			<span class="mark-as-done pull-right hidden" ng-click="markAsDone(task.id)">Done</span>
		</div>
	</div>
	<div class="container-title" ng-if="!Settings.hideDoneTasks && DoneTasks.length > 0">
		Done
	</div>
	<div class="done-tasks-container">
		<div class="done-task" ng-repeat="task in DoneTasks" data-task-id="task.id">
			<span class="strikethrough"></span>
			<span class="name" ng-bind-template="{{task.title}}"></span>
			<span class="time-elapsed pull-right" ng-bind-template="{{task.timeElapsed}}"></span>
			<span class="remove-task pull-right hidden" ng-click="removeTask(task.id)">
				<i class="glyphicon glyphicon-remove"></i>
			</span>
		</div>
	</div>
</div>

<div class="backdrop hidden"></div>
<div class="settings-window-container hidden">
	<div class="window">
		<div class="title">SETTINGS</div>
		<div class="settings-form">
			<div class="field">
				<input type="checkbox" id="always-on-top">
				<span>Always on top</span>
			</div>
			<div class="field">
				<input type="checkbox" id="show-seconds">
				<span>Show seconds</span>
			</div>
			<div class="field">
				<input type="checkbox" id="stop-tasks-on-close">
				<span>Stop all tasks when closing</span>
			</div>
			<div class="field">
				<input type="checkbox" id="run-task-immediately">
				<span>Start running task when created</span>
			</div>
			<div class="field">
				<input type="checkbox" id="show-done">
				<span>Show tasks marked done</span>
			</div>
		</div>
		<div class="form-actions">
			<span class="btn btn-default" ng-click="closeSettings()">Cancel</span>
			<span class="btn btn-primary" ng-click="saveSettings()">Save</span>
		</div>
	</div>
</div>