
body { 
	font-family:"Helvetica Neue Thin", "HelveticaNeue-Thin", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#8E8E93;
}

.container { width:1000px; margin:0 auto; }
.content { display:inline-block; width:500px; vertical-align:top; padding-top:115px; }
.content .actions {  }
.screenshot { display:inline-block; width:420px; }
.screenshot img { margin-left:60px; padding-top:100px; }

h1 { color:#2D2C2C; font-size:64px; font-weight:normal; margin-bottom:20px; }
h2 { color:#8E8E93; font-size:38px; font-weight:normal; margin-top:20px; }
.light-text { color:#C7C7CC; }
.sub-menu { margin-top:36px; }
.sub-link { text-decoration:none; font-size:16px; }
.sub-link:hover { text-decoration:underline; }
.separator { margin:0 10px; }

.button { 
	display:inline-block;
	width:150px; height:44px;
	border-radius:22px;
	line-height:44px;
	font-size:16px; font-weight:bold;
	color:#fff;
	text-decoration:none;
	text-align:center;
}
.button.trial { background-color:#4cd964; margin-right:20px; cursor:pointer; }
.button.trial:hover { background-color:#25AF3C; }
.button.buy { background-color:#5ac8fa; cursor:pointer; }
.button.buy:hover { background-color:#209CD4; }

.header { font-size:28px; color:#000; margin-top:100px; }